doctype html
html
  head
    style
      include ../static/style.css
  body
    nav#navbar
        ul
            li  #[a(href="/") Home]
            li #[a(href="/") About us]
            li #[a(href="/") Contact us]
            li #[a(href="/") Services]
            li  #[a(href="/") Help]

    section#introsection 
        div  WELCOME TO MY DANCE ACADEMY
        div.small EAT SLEEP DANCE REPEAT 
    section#sponsorsSection 
        section.testimonial 
        h1 what do our sponsors say 
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. At a ea ali
        

    section#footerSection 
        | Section for footer
     
        
    h1 DANCE ACADEMY 
    p because a Dancer 
    script
      include ../static/index.js